body {
  background-color: #f8f5e8;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.logo {
  width: 30vw;
}

#bank-details {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.bubble {
  border-radius: 10px;
  height: 25vh;
  margin: 5vh 3vw;
  width: 24vw;
  display: flex;
  align-items: center;
}

.bubble-red {
  border: 2px solid #c10f46;
  background: #c10f4633;
  padding: 0 10px;
}

.bubble-blue {
  border: 2px solid #021c5d;
  background: #021c5d33;
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  body {
    margin-bottom: 5vh;
  }
  #bank-details {
    flex-wrap: nowrap;
    height: auto;
  }

  .bubble {
    margin: 1vh 3vw;
    height: auto;
    width: 85vw;
  }

  .logo {
    order: -1;
    height: auto;
    width: 100vw;
  }
}
